<div class="hx-flex hx-flex-col hx-items-center hx-gap-2 hx-py-6 hx-pl-[max(env(safe-area-inset-left),1.5rem)] hx-pr-[max(env(safe-area-inset-right),1.5rem)] hx-text-gray-600 dark:hx-text-gray-400 md:hx-flex-row md:hx-justify-between">
    <br />
    <div class="hx-flex hx-items-center hx-gap-1 hx-text-xs">
        <span>Copyleft</span>
        <style>
            .copyleft-icon {
                filter: brightness(0) saturate(100%);
                opacity: 0.6;
            }
            .dark .copyleft-icon {
                filter: brightness(0) saturate(100%) invert(1);
                opacity: 1;
            }
        </style>
        <img src="/images/copyleft.svg" 
             alt="Copyleft" 
             class="copyleft-icon hx-inline-block hx-h-4 hx-w-4" />
        <span>Riff Labs Limited. Some rights reserved.
        </span>
    </div>
    <div class="hx-flex hx-items-center hx-gap-1 hx-text-xs">
        <a href="/privacy/" 
        class="hx-text-xs hx-text-gray-600 hx-transition-colors hover:hx-text-gray-900 dark:hx-text-gray-400 dark:hover:hx-text-gray-50">
        Privacy policy
        </a>
        ·
        <a href="/terms/"
        class="hx-text-xs hx-text-gray-600 hx-transition-colors hover:hx-text-gray-900 dark:hx-text-gray-400 dark:hover:hx-text-gray-50">
        Terms of use
        </a>
    </div>
    <br />
</div>